footer {
    background-color: rgb(140, 140, 140);
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.back-top {
    font-size: 1.5rem;
    margin: 1rem 0;
    cursor: pointer;
    color: rgb(50, 50, 50);
    text-align: center;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.back-top:hover {
    color: rgb(30, 30, 30);
    text-decoration: underline;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer-items {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin: 1rem;
    flex-wrap: wrap;
    width: 60%;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.25rem;
    flex: 1 1 0px;
}

.item-header {
    font-weight: bolder;
}

.item-desc {
    color: rgb(50, 50, 50);
    font-size: 1rem;
    word-spacing: 10%;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-links > a {
    color: rgb(50, 50, 50);
}

.footer-links > a:hover {
    text-decoration: underline;
}

.footer-subscribe {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 30%;
}

.footer-subscribe > input {
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 10px;
}

.divider {
    width: 92%;
    border-top: 1px solid rgb(70, 70, 70);
    margin: 0.5rem 0;
}

.blackbox {
    width: 100%;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 0.75rem 0;
    font-size: 1.25rem;
}

@media (max-width: 1000px) {
    .footer-items {
        /* flex-direction: column; */
        width: unset;
    }

    .footer-subscribe {
        width: unset;
        padding: 0.5rem;
    }
}